<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Manejo Pacientes</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- Brand -->
    <header class="navbar-brand" >Consultorio Ginecologico Dr.Jorge Vargas</header>
    <!-- Main Header-->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'pacientes' ? 'active' : ''}">
                    <a href="#" th:href="@{/paciente}">Pacientes</a>
                </li>
                <li th:classappend="${module == 'citas' ? 'active' : ''}">
                    <a href="#" th:href="@{/citas}">Citas</a>
                </li>
                <li th:classappend="${module == 'consultas' ? 'active' : ''}">
                    <a href="#" th:href="@{/task}">Consultas</a>
                </li>
                <li th:classappend="${module == 'procedimiento' ? 'active' : ''}">
                    <a href="#" th:href="@{/task}">Procedimientos</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg col-md col-sm container justify-content-center card">
            <h1 class = "text-center"> Actualizar Paciente </h1>
            <div class = "card-body">
                <form th:action="@{/paciente/{id} (id=${paciente.id})}" th:object = "${paciente}" method="POST">

                    <div class = "row">
                        <div class ="col-lg-6 col-md-6 col-sm-6">
                            <div class ="form-group">
                        <label> Nombre </label>
                        <input
                                type = "text"
                                name = "nombre"
                                th:field = "*{nombre}"
                                class = "form-control"
                                placeholder="Introduzca Nombre de Paciente"
                        />
                    </div>
                        </div>
                        <div class ="col-lg-6 col-md-6 col-sm-6">
                            <div class ="form-group">
                        <label> Apellido </label>
                        <input
                                type = "text"
                                name = "apellido"
                                th:field = "*{apellido}"
                                class = "form-control"
                                placeholder="Introduzca apellido de Paciente"
                        />
                    </div>
                        </div>
                    </div>
                    
                    <div class ="form-group">
                        <label> Correo </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Introduzca Correo de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Numero </label>
                        <input
                                type = "text"
                                name = "numero"
                                th:field = "*{numero}"
                                class = "form-control"
                                placeholder="Introduzca el Numero telefonico de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Direccion </label>
                        <input
                                type = "text"
                                name = "direccion"
                                th:field = "*{direccion}"
                                class = "form-control"
                                placeholder="Introduzca direccion de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Identificacion </label>
                        <input
                                type = "text"
                                name = "identificacion"
                                th:field = "*{identificacion}"
                                class = "form-control"
                                placeholder="Introduzca la identificacion de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Seguro </label>
                        <input
                                type = "text"
                                name = "seguro"
                                th:field = "*{seguro}"
                                class = "form-control"
                                placeholder="Introduzca el seguro de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Fecha Nacimiento </label>
                        <input
                                type = "text"
                                name = "fechaNacimiento"
                                th:field = "*{fechaNacimiento}"
                                class = "form-control"
                                placeholder="Introduzca la Fecha de Nacimiento de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Nombre Contacto </label>
                        <input
                                type = "text"
                                name = "nombreContacto"
                                th:field = "*{nombreContacto}"
                                class = "form-control"
                                placeholder="Introduzca el contacto de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Numero Contacto </label>
                        <input
                                type = "text"
                                name = "numeroContacto"
                                th:field = "*{numeroContacto}"
                                class = "form-control"
                                placeholder="Introduzca numero de el contacto"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Estado Civil </label>
                        <input
                                type = "text"
                                name = "estadoCivil"
                                th:field = "*{estadoCivil}"
                                class = "form-control"
                                placeholder="Introduzca el estado civil de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Profesion </label>
                        <input
                                type = "text"
                                name = "profesion"
                                th:field = "*{profesion}"
                                class = "form-control"
                                placeholder="Introduzca la profesion de Paciente"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Nacionalidad </label>
                        <input
                                type = "text"
                                name = "nacionalidad"
                                th:field = "*{nacionalidad}"
                                class = "form-control"
                                placeholder="Introduzca la nacionalidad de Paciente"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <br>
    <br>
</div>
</body>
</html>